/* Display image and search box in centre */
img, input {
	display:block;
	margin: auto;
}
input {
	width: 300px;
}
/* Div wrapper to center buttons */
.center-button{
	padding: 5px;
	text-align: center;
}